<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5x-hMSJau6ynZf2bVOOEXVTqKiIol9ow</string>
	<key>GCM_SENDER_ID</key>
	<string>56882429104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gari.yahdsell2</string>
	<key>PROJECT_ID</key>
	<string>yahdsell</string>
	<key>STORAGE_BUCKET</key>
	<string>yahdsell.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56882429104:ios:0ec7d1b42ec12dc810cf75</string>
</dict>
</plist>